

@model UpdateEmployeeVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Position</h4>

            <form method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Image">Image</label>
                    <img src="~/assets/img/team/@Model.Image" class="form-control">
                    <span asp-validation-for="Image"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span asp-validation-for="Photo"></span>
                </div>

                <div class="form-group">
                    <label asp-for="X">X</label>
                    <input asp-for="X" class="form-control" placeholder="X">
                    <span asp-validation-for="X"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Linkedin">Linkedin</label>
                    <input asp-for="Linkedin" class="form-control" placeholder="Linkedin">
                    <span asp-validation-for="Linkedin"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Facebook">Facebook</label>
                    <input asp-for="Facebook" class="form-control" placeholder="Facebook">
                    <span asp-validation-for="Facebook"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Instagram">Instagram</label>
                    <input asp-for="Instagram" class="form-control" placeholder="Instagram">
                    <span asp-validation-for="Instagram"></span>
                </div>

                <div class="form-group">
                    <label>Position</label>
                    <select asp-for="PositionId" class="form-control" asp-items="@(new SelectList(Model.Positions,nameof(Position.Id),nameof(Position.Name), Model.PositionName))">
                    </select>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

